body { 
    margin: 0;
    border: 0; 
    background-color: darkblue; 
}
#ballast { 
    position: absolute;
    margin-top: -35vh;
    margin-left: -35vw;
    left: 50%;
    top: 50%;
    width: 70vw; 
    height:70vh; 
}