body { 
    margin: 0;
    border: 0; 
    background-color: rgb(63, 63, 63); 
}
#ballast { 
    position: absolute;
    margin-top: -35vh;
    margin-left: calc(-35vh*1.78);
    left: 50%;
    top: 50%;
    width: calc(70vh*1.78); 
    height:70vh; 
    background-color: black;
    border: 2px;
    border-style: solid;
    border-color: white;
}